html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#main {
	background: url('../img/background.jpg') no-repeat center center / 100% 100%;
	background-size:cover; 
	background-attachment:fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

#chatContainer {
	margin: 35px;
}

#zone_chat strong {
   	padding: 2px;
}

span.glyphicon::before {
	font-size: 13px;
}

#btnStartBroadcast {
	width: 100%;
	padding: 17px 0;
}

#lobbyListing div {
	margin-right: 5px;
	margin-left: 5px;
}

#lobbyListing div.btn-default {
	box-shadow: 0px 0px 27px 0px #F38A1499;
}

#lobbyListing span {
	margin-left: 5px;
}

#chatList div {
	cursor: pointer;
}

#panelUserList
{
	margin-top:	15px;
	margin-bottom: 15px;
}

#panelUserList div.panel-body 
{
    padding-top: 8px;
    padding-bottom: 8px;
}

#panelUserList img.flag {
	margin-left: 10px;
}

.panelOpenedChat {
	background-color: lightyellow;
}

.colorpickerplus-dropdown button {
	min-height: 35px;
}

#demo4 ul {
	padding: 0;
}